<footer class="uk-section-muted">
  <div class="uk-section uk-container">
    <div class="">
      <div class="uk-flex uk-flex-center uk-text-center">
        <div class="">
          <h4 class="uk-h4 uk-margin-remove">GET HELP</h4>
          <h4 class="uk-h4 uk-margin-remove">Privacy Policy</h4>
          <h4 class="uk-h4 uk-margin-remove">
            <a class="uk-link-reset" href="/terms">Terms</a>
          </h4>
          <h4 class="uk-h4 uk-margin-remove">Payment Options</h4>
          <h4 class="uk-h4 uk-margin-remove">Contact Us</h4>
        </div>
      </div>
    </div>
    <section class="uk-section uk-padding-remove-bottom">
      <div class="uk-child-width-1-2@s" uk-grid>
        <div class="uk-flex uk-flex-center">
          &copy; 2020 AfTop
        </div>
        <div class="uk-flex uk-flex-center">
          <ul class="uk-height-1-1 uk-iconnav uk-flex-around uk-flex-middle">
            <li>
              <a
                href="https://facebook.com/AfTop-Movies-And-Tv-Series-100273788376847"
                target="_blank"
                rel="noopener noreferrer"
                uk-icon="icon: facebook"
              ></a>
            </li>
            <li>
              <a
                href="https://twitter.com/AfTop_"
                target="_blank"
                rel="noopener noreferrer"
                uk-icon="icon: twitter"
              ></a>
            </li>
            <li>
              <a
                href="https://www.youtube.com/channel/UCR5vCj4_ANZJte6emXtrMIw"
                target="_blank"
                rel="noopener noreferrer"
                uk-icon="icon: youtube"
              ></a>
            </li>
            <li>
              <a
                href="https://instagram.com/aftop_"
                target="_blank"
                rel="noopener noreferrer"
                uk-icon="icon: instagram"
              ></a>
            </li>
          </ul>
        </div>
      </div>
    </section>
  </div>
</footer>
